{% extends "base/index.html" %}

{% block title %}
    {{ flower.title }}
{% endblock title %}



{% block content %}
    <div class="container">
        <h1 class="display-3">{{ flower.title }}</h1>
        <div class="lead">{{ flower.description }}</div>
    </div>

    <div>
            <a href='{% url "myapp:category_detail" flower.category.slug %}'>{{ flower.category }}</a>
    </div>

    <div>
        {% for tag in flower.tags.all %}
            <a href="{% url 'myapp:tag_detail' tag.slug  %}">{{ tag.title }}</a>
        {% endfor %}
    </div>

    
    <br /><br />
    <div class="container">
        <a href="{% url 'myapp:index' %}" class="btn btn-primary">Back to Home</a>
    </div>

{% endblock content %}